# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.userprefs

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
